header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #ffffff;
    text-decoration-color: black;
}
.logo img {
    width: 280px;
    height: 60px;
    margin-left: 15%;
}
#logoFooter {
    margin-left: 3%;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    display: flex;
    color: #000000;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 15px;

}
nav ul li a:hover {
    background-color: #fafafa;

}
.espaco{
    padding-right: 10px;
}
.banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;

}
.form {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea {
    resize: vertical; 
    min-height: 100px;   
    max-width: 100%;
  }
.form h2 {
    margin-bottom: 10px;
}
.form label,
.form input,
.form textarea {
    display: block;
    margin-bottom: 10px;
    color: rgb(68, 68, 68);
    text-align: justify;
    font-family: "Comfortaa", sans-serif;
    font-size: small;
    font-weight: bold;
    font-style: normal;
}
.form input,
.form textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.resumo {
    text-indent: 3%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: gray;
    text-align: justify;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
}
.caixa-pesquisa {
    margin-left: 65rem;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    box-sizing: border-box;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8" /><line x1="21" y1="21" x2="16.65" y2="16.65" /></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}
.formulario-container {
    margin: 20px;
}
strong{
    color: #0E77BB;
}
.icone-seta {
    font-size: 15px;
    color: #000000; 
    margin-left: 5px;
}
.botaoSubmit{
    background-color: #0E77BB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 35px;
    margin-top: 1%;
    margin-left: 90%;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-size: small;
    font-weight: bold;
    font-style: normal;
}
.retanguloCinza{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: 13rem; 
    margin-bottom: 2%;
    background-color: #EAEAEA
}
.contatos{
    color: #01347C;
    padding-top: 1%;
    margin-left: 5%;
    text-align: justify;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}
.botaoDiscover{
    background-color: #0E77BB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 35px;
    margin-top: 0.5%;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-size: small;
    font-weight: bold;
    font-style: normal;
}
.botaoTelEChat {
    background-color: #0E77BB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 35px;
    margin-top: 0.5%;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-size: small;
    font-weight: bold;
    font-style: normal;
}
.descricaoForms{
    display: flex;
    box-shadow: 0 0 5px rgb(77, 77, 77);
    color: #01347C;
    width: 57rem;
    height: 4rem;
    margin-top: 1rem;
    margin-left: 28rem;
    padding-top: 0.1rem;
    padding-left: 2rem;
    background-color: #EAEAEA;
    border-radius: 10px;
    font-family: "Comfortaa", sans-serif;
    font-size: medium;
    font-weight:bolder;
    font-style: normal;
}
.containerFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 3%;
    text-align: left;
    font-family: "Comfortaa", sans-serif;
    font-size: medium;
    font-weight: lighter;
    font-style: normal;

}
.endereco{
    width: 500px;
}
.copyrights{
    margin-left: 3%;
    text-align: left;
    font-family: "Comfortaa", sans-serif;
    font-size: medium;
    font-weight: lighter;
    font-style: normal;
}
.dropdown-menu{
    position: absolute;
    display:none;
    box-shadow: 0 0 4px rgb(92, 89, 89);
    background-color: #ffffff;
}
.dropdown-menu a{
    display: block;
}
.dropdown-menu:hover{
    background-color: #ffffff;
}
.dropdown:hover .dropdown-menu{
    display: block;
}